* {
  font-family: 'Fraunces', serif;
}

body {
  margin: 0;
  background-color: #224870;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title{
  color: white;
}

.calculator-content {
  background-color: antiquewhite;
  width: auto;
  height: auto;
  padding: 16px;
}

.display {
  grid-column: 1 / -1;
  padding: 16px;
  display: flex;
  margin: 10px 10px 20px;
  flex-direction: column;
  align-items: flex-end;
  background-color: #363636;
  text-align: right;
  justify-content: space-between;
  word-break: break-all;
  box-shadow: 0px 0px 0px 10px #00000033;
  color: white;
  /* width: auto;
  height: 80px;
  padding: 0;
  border: 0;
  background-color: #000;
  color: white;
  text-align: right;
  font-size: 21px; */
}

.calculator-buttons {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 4px;
  row-gap: 4px;
}

.calculator-buttons button {
  font-size: 18px;
  color: white;
  width: 60px;
  height: 50px;
  border: 0;
}

.clear-buttons, 
.clear {
  background-color: orangered;
}

.operation-buttons {
  background-color: darkred;
}

.number-buttons {
  background-color: blue;
}

.equal-button {
  background-color: green;
}
